@use "../util/" as u;

@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  section {
    overflow-x: clip;
  }

  img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  .hide-on-mobile {
    @media (inline-size < calc(700 / 16 * 1rem)) {
      display: none;
    }
  }

  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
  }
}
