:root {
  --c-purple-100: hsl(254, 88%, 90%);
  --c-purple-500: hsl(256, 67%, 59%);
  --c-yellow-100: hsl(31, 66%, 93%);
  --c-yellow-500: hsl(39, 100%, 71%);
  --c-white: hsl(0, 0%, 100%);
  --c-black: hsl(0, 0%, 7%);
  --c-grey-100: hsl(300, 5%, 96%);

  --color-bg: var(var(--c-grey-100));
  --color-text: var(--c-black);
}
