@layer decoration {
  .has-purple-bg {
    background-color: var(--c-purple-500);
    color: var(--c-white);
  }

  .has-yellow-text {
    color: var(--c-yellow-500);
  }

  .has-purple-text {
    color: var(--c-purple-500);
  }
}
